
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
:root{
      --primary-color:#3B82F6;
      --secondary-color:#A8A29E;
      --off-white:purple;
      --bold-color:#1C1917;
}
.pro
{
    text-align: center;
    color:var(--primary-color);
}

.container
{ background-color:#E7E5E4;
padding-left:1rem;
text-align:center
}
.container-centre
{ max-width: 600px;
margin:auto

}
.button{

background-color: #3B82F6;
border-radius: 1rem 1rem;
color: white;
padding: 15px 30px;

text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 3px 2px;
cursor: pointer;

}
ow{
background-color:var(--secondary-color);
border-color:#D6D3D1;
}
.section h2
{
text-align: center;
padding:2rem;
}
.quik{
text-align:center;
}

.hero{
padding:2rem;

}
.hero .hero-img
{
display:block;
max-width:350px;
margin:auto;
}
.navigation{
    background-color: var(--primary-color);
    color:#171717;
    border-bottom-left-radius: 0.5rem;
    padding:1rem 0rem;
}
.non-bullet{
    list-style: none;
    padding: orem 1rem;
}
.list-inline{
    display:inline;
    padding:0rem 0rem;
    
}
.navigation .link{
    color:white;
    text-align: right;
   }
.navigation .pills
{
   text-align: right;
}
.navigation.nav-brand{
   font-style: #18181B;
   font-width:2rem;
}
.navigation.link-active{
   font-weight:bold;
   }



